body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #4000C7;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #4000C7;
  }
  
  select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  button {
    background-color: #4000C7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  