body {
    text-align: center;
    font-weight: bold;
    background: #0cebeb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control, .form-select {
    width: auto;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prediction {
    font-size: 1.5rem;
}