aiohttp==3.8.1
aiohttp-retry==2.5.2
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.8.1
appdirs==1.4.4
APScheduler==3.9.1
arrow==1.2.2
async-timeout==4.0.2
asyncssh==2.11.0
asynctest==0.13.0
atpublic==3.0.1
attrs==21.4.0
autopage==0.5.1
awscli==1.25.22
Babel==2.10.3
binaryornot==0.4.4
botocore==1.27.22
Bottleneck==1.3.4
brotlipy==0.7.0
cached-property==1.5.2
cassandra-driver==3.25.0
certifi==2022.6.15
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.2
colorama==0.4.4
colorhash==1.0.4
colorlog==6.6.0
commonmark==0.9.1
configobj==5.0.6
configparser==5.2.0
cookiecutter==2.1.1
coverage==6.4.1
cryptography==37.0.1
cycler==0.11.0
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
docutils<0.17
dpath==2.0.6
dulwich==0.20.45
dvc==2.10.2
dvc-render==0.0.5
dvclive==0.9.0
flake8==4.0.1
Flask==2.2.2
Flask-Cors==3.0.10
Flask-MonitoringDashboard==3.1.1
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.25.0
frozenlist==1.3.0
fsspec==2022.7.1
ftfy==6.1.1
funcy==1.17
future==0.18.2
geomet==0.2.1.post1
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
greenlet==1.1.2
idna==3.3
ImageHash==4.2.1
imagesize==1.4.1
imbalanced-learn==0.9.0
imblearn==0.0
importlib-metadata<=4.12.0
importlib-resources==5.9.0
itsdangerous==2.1.2
jaraco.classes==3.2.2
jaraco.collections==3.5.2
jaraco.context==4.1.2
jaraco.functools==3.5.1
jaraco.structures==2.1.0
jaraco.text==3.8.1
jaraco.ui==2.3.0
jaraco.windows==5.7.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.4.2
kneed==0.8.1
mailchecker==4.1.19
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe<0.7.0
missingno==0.5.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==8.13.0
multidict==6.0.2
multimethod==1.8
munkres==1.1.4
nanotime==0.5.2
networkx==2.6.3
numexpr==2.8.3
numpy==1.21.5
optuna==2.10.1
packaging==21.3
pandas==1.3.5
pandas-profiling==3.2.0
path==16.4.0
pathlib==1.0.1
pathspec==0.9.0
pbr==5.9.0
phonenumbers==8.12.52
Pillow==9.2.0
pip==21.2.4
prettytable==3.3.0
psutil==5.9.1
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.1
pydot==1.4.2
pyflakes==2.4.0
pygit2==1.10.0
Pygments==2.12.0
pygtrie==2.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-fsutil==0.6.1
python-slugify==6.1.2
pytz==2022.1
PyYAML<=6.0
requests==2.28.1
rich==12.5.1
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
scmrepo==0.0.19
seaborn==0.11.2
setuptools==61.2.0
shortuuid==1.0.9
shtab==1.5.5
sip>=4.19.13
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx<=5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.39
src<=0.0.6
stevedore==3.5.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
text-unidecode==1.3
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
typing_extensions==4.3.0
tzlocal==2.0.0
urllib3==1.26.9
visions==0.7.4
voluptuous==0.13.1
wcwidth==0.2.5
Werkzeug==2.2.2
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
xgboost==1.6.1
xmltodict==0.13.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.8.0
gunicorn
