{% extends 'base.html' %}
{% block title %}Motorcycle Features{% endblock %}

{% block styles %}
<style>
    .top {
        height: 100px;
        object-fit: fill;
        border: 10px solid white;
    }
</style>
{% endblock %}

{% block content %}
<div class="text-center" style="height: 100vh;">
    <form action="{{ url_for('getPrice') }}" method="POST">
        <div class="card mb-3 mx-auto d-block" style="width: 18rem; margin-top: 25vh;">
            <img src="{{ model_logo }}" class="card-img-top top" alt="{{ model_name }}">
            <div class="card-body">
                <p class="card-text">{{ model_name }}</p>
            </div>
        </div>

        <select name="owner_type" class="form-select form-select-lg mb-3 mx-auto d-block"
            aria-label="Large select example" style="width: 50%; margin-top: 10px;">
            <option selected>Select Owner Type</option>
            {% for i in owner_type %}
            <option>{{ i }}</option>
            {% endfor %}
        </select>

        <div class="input-group input-group-lg mx-auto" style="width: 50%; margin-top: 10px;">
            <span class="input-group-text" id="inputGroup-sizing-lg">Model Year</span>
            <input name="model_year" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg">
        </div>

        <div class="input-group input-group-lg mx-auto" style="width: 50%; margin-top: 10px;">
            <span class="input-group-text" id="inputGroup-sizing-lg">Kilometer Driven</span>
            <input name="km_driven" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 10px;">
            <button class="btn btn-primary btn-lg" type="submit">Check Selling Price</button>
        </div>


    </form>
</div>

{% endblock %}