bin
include
lib
lib64
share
etc
list.txt
dataset
model_development/models/
.env
docker/models/
docker/data/
docker/Dockerfile
docker/.env
train_image/image_data/*
train_image/test_image/*
train_image/bin/
train_image/etc/
train_image/include/
train_image/lib/
train_image/lib64/
train_image/share/
train_image/pyvenv.cfg
train_image/image_dataset_28pixels.csv
train_image/image_dataset_36pixels.csv
train_image/new_image_dataset_36pixels.csv
train_image/model_choice.csv
train_image/newmodels_choice.csv
